<div *ngIf="page == 'listaUtilizzo'">
    <h1 class="title">Lista Utilizzo</h1>


    <table mat-tableid>
        <th> Targa </th>
        <th> Cognome </th>
        <th> Data Inizio</th>
        <th> Destinazione</th>
        <tr *ngFor="let a of listAnagrafica">
            <td>{{a.Nome}}</td>
        </tr>
        <tr *ngFor="let utilizzo of listUtilizzo">
            <td>{{getTargaById(utilizzo.IdVeicolo)}}</td>
                <td >{{utilizzo.IdVeicolo}}</td>
                <td>{{utilizzo.DataInizio}}</td>
                <td>{{utilizzo.Destinazione}}</td>
            <!-- <td><button mat-flat-button (click)="detailItemView(veicolo)">Dettaglio</button></td>
            <td><button mat-flat-button (click)="deleteVeicolo(veicolo.IdVeicolo)">Elimina</button></td> -->
        </tr>
    </table>
    <!-- <button mat-flat-button (click)="addVeicoloView()">Aggiungi</button> -->
</div>
