<mat-toolbar>
    <button mat-icon-button (click)="snavToggle(snav)"><mat-icon>menu</mat-icon> </button>
    <!-- <span><img src="./assets/eurislogo.png"></span> -->
</mat-toolbar>

<mat-sidenav-container class="container">
    <mat-sidenav #snav mode='side'mode="side" opened role="navigation">
    <mat-nav-list>
        <a class="tasto" mat-list-item routerLink='home'> <mat-icon>home</mat-icon>&nbsp;&nbsp;Home</a>
        <a class="tasto" mat-list-item routerLink='cars'><mat-icon>drive_eta</mat-icon>&nbsp;&nbsp;Veicoli</a>
        <a class="tasto" mat-list-item routerLink='state'><mat-icon>restore</mat-icon>&nbsp;&nbsp;Stato</a>
        <a class="tasto" mat-list-item routerLink='expiry'><mat-icon>query_builder</mat-icon>&nbsp;&nbsp;Scadenze</a>
        <a class="tasto" mat-list-item routerLink='utilization'><mat-icon>navigation</mat-icon>&nbsp;&nbsp;Utilizzo</a>
    </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content >
       <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
