<div *ngIf="page == 'listaScadenzePerVeicoloo'">
    <h1 class="title">{{Titolo}}</h1>
    prv001
</div>

<div *ngIf="page == 'listaScadenzeTuttiVeicoli'">
    <h1 class="title">{{Titolo}}</h1>
    prv002
</div>

<div *ngIf="page == 'dettaglioSingolaScadenzaPerVeicolo'">
    <h1 class="title">{{Titolo}}</h1>
    prv003
</div>

<div *ngIf="page == 'aggiuntaScadenzaAVeicolo'">
    <h1 class="title">{{Titolo}}</h1>
    prv004
</div>

<div *ngIf="page == 'aggiuntaTipoScadenza'">
    <h1 class="title">{{Titolo}}</h1>
    prv005
</div>