<h1 class="title">{{titolo}}</h1>

BGNtmp
<button mat-flat-button (click)="listScadenzeTuttiVeicoliView()">Vedi listScadenzeTuttiVeicoli</button><br />
<button mat-flat-button (click)="listVeicoliView()">Vedi listVeicoli</button><br />
<button mat-flat-button (click)="listScadenzePerVeicoloView(veicolo)">XVedi listScadenzePerVeicolo</button><br />
<button mat-flat-button (click)="dettaglioSingolaScadenzaPerVeicoloView(scadenza)">XVedi dettaglioSingolaScadenzaPerVeicolo</button><br />
<button mat-flat-button (click)="aggiuntaScadenzaAVeicoloView(veicolo)">XVedi aggiuntaScadenzaAVeicoloView</button><br />
<button mat-flat-button (click)="aggiuntaTipoScadenzaView()">Vedi aggiuntaTipoScadenzaView</button><br />
ENDtmp

<div *ngIf="page == 'listVeicoli'">
    <table mat-tableid>
        <th> Targa </th>
        <th> Marca </th>
        <th> Modello </th>
        <tr class="dettaglio" [ngClass]="{'alternativeRow': veicolo.id%2==0}" *ngFor="let veicolo of listVeicoli">
            <td>{{veicolo.Targa}}</td>
            <td>{{veicolo.Marca}}</td>
            <td>{{veicolo.Modello}}</td>
            <td><button mat-flat-button (click)="dettaglioSingolaScadenzaPerVeicolo(veicolo)">Vedi Scadenze</button></td>
            <!-- <td><button mat-flat-button (click)="deleteVeicolo(veicolo.IdVeicolo)">Elimina</button></td> -->
        </tr>
    </table>
    <!-- <button mat-flat-button (click)="addVeicoloView()">Aggiungi</button> -->
</div>

<div *ngIf="page == 'listScadenzePerVeicolo'">
    listScadenzePerVeicolo
    <!-- <table mat-tableid>
        <th> Targa </th>
        <th> Marca </th>
        <th> Modello </th>
        <tr class="dettaglio" [ngClass]="{'alternativeRow': veicolo.id%2==0}" *ngFor="let veicolo of listVeicoli">
            <td>{{veicolo.Targa}}</td>
            <td>{{veicolo.Marca}}</td>
            <td>{{veicolo.Modello}}</td>
            <td><button mat-flat-button (click)="detailScadenzeView(veicolo)">Vedi Scadenze</button></td>
            <td><button mat-flat-button (click)="deleteVeicolo(veicolo.IdVeicolo)">Elimina</button></td>
        </tr>
    </table> -->
    <!-- <button mat-flat-button (click)="addVeicoloView()">Aggiungi</button> -->
</div>

<div *ngIf="page == 'listScadenzeTuttiVeicoli'">
    <table mat-tableid>
        <thead>
            <th>Data scadenza</th>
            <th>gg. alla scadenza</th>
            <th>Scadenza</th>
            <th>Targa</th>
            <th>Marca</th>
            <th>Modello</th>
            <th><em>&nbsp;</em></th>
            <!-- <th><em>Dettaglio</em></th> -->
            <th><em>&nbsp;</em></th>
            <!-- <th><em>Modifica</em></th> -->
        </thead>
        <!--<tr class="dettaglio" [ngClass]="{'alternativeRow': veicolo.id%2==0}"
        *ngFor="let scadenzaVeicolo of listScadenzeTuttiVeicoli">-->
        <tbody>
            <tr class="dettaglio" [ngClass]="{'alternativeRow': veicolo.id%2==0}"
                *ngFor="let scadenzaVeicolo of listScadenzeTuttiVeicoli">
                <td>{{ scadenzaVeicolo.Data | date:'gg/MM/aaaa' }}</td>
                <td>{{scadenzaVeicolo.Data}}-oggi</td>
                <td>{{scadenzaVeicolo.IdScadenza}}tiposcadenza</td>
                <td>{{scadenzaVeicolo.IdVeicolo}}targa</td>
                <td>{{scadenzaVeicolo.IdVeicolo}}marca</td>
                <td>{{scadenzaVeicolo.IdVeicolo}}modello</td>
                <td><button mat-flat-button (click)="detailScadenzaVeicoloView(scadenzaVeicolo)">Vedi dettaglio scadenza</button></td>
                <td><button mat-flat-button (click)="deleteScadenzaVeicolo(scadenzaVeicolo.IdScadenzeVeicoli)">Elimina scadenza</button></td>

                <!-- <td>{{veicolo.Targa}}</td>
                <td>{{veicolo.Marca}}</td>
                <td>{{veicolo.Modello}}</td>
                <td><button mat-flat-button (click)="detailScadenzeView(veicolo)">Vedi Scadenze</button></td>
                <td><button mat-flat-button (click)="deleteVeicolo(veicolo.IdVeicolo)">Elimina</button></td> -->
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="page == 'dettaglioSingolaScadenzaPerVeicolo'">
    prv003
    dettaglioSingolaScadenzaPerVeicolo
</div>

<div *ngIf="page == 'aggiuntaScadenzaAVeicolo'">
    aggiuntaScadenzaAVeicolo
    prv004
</div>

<div *ngIf="page == 'aggiuntaTipoScadenza'">
    prv005
    aggiuntaTipoScadenza
</div>