<h1 class="title">Applicazione Auto</h1>
<div class="bottoni-container">
  <button mat-raised-button routerLink="/cars">
    <div class="icon-container"><mat-icon>drive_eta</mat-icon></div> Veicoli
  </button>

  <button mat-raised-button routerLink="/state">
    <div class="icon-container"><mat-icon>restore</mat-icon></div> Stato
  </button>

  <button mat-raised-button routerLink="/expiry">
    <div class="icon-container"><mat-icon>query_builder</mat-icon> </div> Scadenze
  </button>

  <button mat-raised-button routerLink="/utilization">
    <div class="icon-container"><mat-icon>navigation</mat-icon></div> Utilizzo
  </button>
</div>