.title{
  margin-left: 20px;
  font-family: Helvetica;
  color: black;
}

.bottoni-container{
  text-align: center;
  
}



button{
  height: 200px;
  width: 200px;
  margin: 20px;
  background-color: #003d7e;
  font-size: 20px;
  color: white;
}

button:hover{
  background-color:#004ea1;

}

.mat-icon{
  font-size: 100px;
  width: 100px;
  height: 100px;
  
}