<div *ngIf="page == 'listaVeicolo'">
    <h1 class="title">Lista Auto</h1>


    <table mat-tableid>
        <th> Targa </th>
        <th> Marca </th>
        <th> Modello </th>
        <tr class="dettaglio" [ngClass]="{'alternativeRow': veicolo.id%2==0}" *ngFor="let veicolo of list">
            <td>{{veicolo.Targa}}</td>
            <td>{{veicolo.Marca}}</td>
            <td>{{veicolo.Modello}}</td>
            <td><button mat-flat-button (click)="detailItemView(veicolo)">Dettaglio</button></td>
            <td><button mat-flat-button (click)="deleteVeicolo(veicolo.IdVeicolo)">Elimina</button></td>
        </tr>
    </table>
    <button mat-flat-button (click)="addVeicoloView()">Aggiungi</button>
</div>

<!-- <table mat-table [dataSource]="this.list">
        <ng-container matColumnDef="Targa">
            <th mat-header-cell *matHeaderCellDef> Targa </th>
            <td mat-cell *matCellDef="let veicolo"> {{veicolo.Targa}} </td>
        </ng-container>


        <ng-container matColumnDef="Marca">
            <th mat-header-cell *matHeaderCellDef> Marca </th>
            <td mat-cell *matCellDef="let veicolo"> {{veicolo.Marca}} </td>
        </ng-container>

        <ng-container matColumnDef="Modello">
            <th mat-header-cell *matHeaderCellDef>Modello </th>
            <td mat-cell *matCellDef="let veicolo"> {{veicolo.Modello}} </td>
        </ng-container>

        <ng-container matColumnDef="Dettaglio">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef> <button mat-flat-button>Dettaglio</button> </td>
        </ng-container>


        <ng-container matColumnDef="Elimina">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef> <button mat-flat-button>Elimina</button></td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef=" displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div> -->


<div *ngIf="page == 'dettaglio'">

    <div *ngIf="!isEditing">
        <div>
            <h1 class="title">Dettaglio Veicolo</h1>
        </div>

        <mat-list>
            <mat-list-item>Targa:{{veicoloDetail.Targa}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Marca:{{veicoloDetail.Marca}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Modello:{{veicoloDetail.Modello}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Versione:{{veicoloDetail.Versione}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Telaio: {{veicoloDetail.Telaio}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Immatricolazione: {{veicoloDetail.Immatricolazione}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Cilindrata: {{veicoloDetail.Cilindrata}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>CvVapore: {{veicoloDetail.CvVapore}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Kw: {{veicoloDetail.Kw}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>CvFiscali: {{veicoloDetail.CvFiscali}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Colore: {{veicoloDetail.Colore}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Formato: {{veicoloDetail.Formato}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Alimentazione: {{veicoloDetail.Alimentazione}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>NormativaEuro: {{veicoloDetail.NormativaEuro}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Provincia: {{veicoloDetail.Provincia}}</mat-list-item>
        </mat-list>
        <button class="bigbtn" mat-flat-button (click)="returnList()">Torna alla lista</button>
        <button class="bigbtn" mat-flat-button (click)="beginEdit()">Modifica</button>
    </div>

    <div *ngIf="isEditing">

        <h1 class="title">Modifica Veicolo</h1>
        <div>
            <mat-form-field>
                <input matInput [(ngModel)]="veicoloDetail.Targa" placeholder="Targa">
            </mat-form-field>

            <mat-form-field>
                <input matInput [(ngModel)]="veicoloDetail.Marca" placeholder="Marca">
            </mat-form-field>

            <mat-form-field>
                <input matInput [(ngModel)]="veicoloDetail.Modello" placeholder="Modello">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput [(ngModel)]="veicoloDetail.Versione" placeholder="Versione">
            </mat-form-field>

            <mat-form-field>
                <input matInput [(ngModel)]="veicoloDetail.Telaio" placeholder="Telaio">
            </mat-form-field>

            <mat-form-field>
                <input matInput [(ngModel)]="veicoloDetail.Immatricolazione" placeholder="Immatricolazione">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput [(ngModel)]="veicoloDetail.Cilindrata" placeholder="Cilindrata">
            </mat-form-field>

            <mat-form-field>
                <input matInput [(ngModel)]="veicoloDetail.CvVapore" placeholder="CvVapore">
            </mat-form-field>

            <mat-form-field>
                <input matInput [(ngModel)]="veicoloDetail.Kw" placeholder="Kw">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput [(ngModel)]="veicoloDetail.CvFiscali" placeholder="CvFiscali">
            </mat-form-field>

            <mat-form-field>
                <input matInput [(ngModel)]="veicoloDetail.Colore" placeholder="Colore">
            </mat-form-field>

            <mat-form-field>
                <input matInput [(ngModel)]="veicoloDetail.Formato" placeholder="Formato">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput [(ngModel)]="veicoloDetail.Alimentazione" placeholder="Alimentazione">
            </mat-form-field>

            <mat-form-field>
                <input matInput [(ngModel)]="veicoloDetail.NormativaEuro" placeholder="NormativaEuro">
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Provincia">
                    <mat-option *ngFor="let provincia of provList" [value]="provincia"> {{veicoloDetail.provincia}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>


        <button mat-flat-button (click)="editVeicolo(veicoloDetail)">Salva</button>
        <button mat-flat-button (click)="beginEdit()">Annulla</button>

    </div>
</div>


<div *ngIf="page == 'aggiungi'">
    <h1 class="title">Aggiungi Veicolo</h1>
    <div>
        <mat-form-field>
            <input matInput [(ngModel)]="newVeicolo.Targa" placeholder="Targa">
        </mat-form-field>

        <mat-form-field>
            <input matInput [(ngModel)]="newVeicolo.Marca" placeholder="Marca">
        </mat-form-field>

        <mat-form-field>
            <input matInput [(ngModel)]="newVeicolo.Modello" placeholder="Modello">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <input matInput [(ngModel)]="newVeicolo.Versione" placeholder="Versione">
        </mat-form-field>

        <mat-form-field>
            <input matInput [(ngModel)]="newVeicolo.Telaio" placeholder="Telaio">
        </mat-form-field>

        <mat-form-field>
            <input matInput [(ngModel)]="newVeicolo.Immatricolazione" placeholder="Immatricolazione">
        </mat-form-field>

        <div>
            <mat-form-field>
                <input matInput [(ngModel)]="newVeicolo.Cilindrata" placeholder="Cilindrata">
            </mat-form-field>

            <mat-form-field>
                <input matInput [(ngModel)]="newVeicolo.CvVapore" placeholder="CvVapore">
            </mat-form-field>

            <mat-form-field>
                <input matInput [(ngModel)]="newVeicolo.Kw" placeholder="Kw">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput [(ngModel)]="newVeicolo.CvFiscali" placeholder="CvFiscali">
            </mat-form-field>

            <mat-form-field>
                <input matInput [(ngModel)]="newVeicolo.Colore" placeholder="Colore">
            </mat-form-field>

            <mat-form-field>
                <input matInput [(ngModel)]="newVeicolo.Formato" placeholder="Formato">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput [(ngModel)]="newVeicolo.Alimentazione" placeholder="Alimentazione">
            </mat-form-field>

            <mat-form-field>
                <input matInput [(ngModel)]="newVeicolo.NormativaEuro" placeholder="NormativaEuro">
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Provincia">
                    <mat-option *ngFor="let provincia of provList" [value]="provincia"> {{newVeicolo.provincia}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <button class="bigbtn" mat-flat-button (click)="addVeicolo(newVeicolo)">Salva</button>
    <button class="bigbtn" mat-flat-button (click)="returnList()">Torna alla lista</button>
</div>

<!-- <br>
    Targa: <input [(ngModel)]="newVeicolo.Targa">
    <br>
    Marca: <input [(ngModel)]="newVeicolo.Marca">
    <br>
    Modello:<input [(ngModel)]="newVeicolo.Modello">
    <br>
    Versione:<input [(ngModel)]="newVeicolo.Versione">
    <br>
    Telaio:<input [(ngModel)]="newVeicolo.Telaio">
    <br>
    Immatricolazione:<input [(ngModel)]="newVeicolo.Immatricolazione">
    <br>
    Cilindrata:<input [(ngModel)]="newVeicolo.Cilindrata">
    <br>
    CvVapore:<input [(ngModel)]="newVeicolo.CvVapore">
    <br>
    Kw:<input [(ngModel)]="newVeicolo.Kw">
    <br>
    CvFiscali:<input [(ngModel)]="newVeicolo.CvFiscali">
    <br>
    Colore:<input [(ngModel)]="newVeicolo.Colore">
    <br>
    Formato:<input [(ngModel)]="newVeicolo.Formato">
    <br>
    Alimentazione:<input [(ngModel)]="newVeicolo.Alimentazione">
    <br>
    NormativaEuro:<input [(ngModel)]="newVeicolo.NormativaEuro">
    <br>
    Provincia:<input [(ngModel)]="newVeicolo.Provincia">
    <br> -->